In [1]:
import pandas as pd

In [2]:
pos_dataset_name = "../C2_positive_training_dataset.csv"
neg_dataset_name = "../C2_negative_training_dataset.csv"

In [3]:
def datetime_to_filename(datetime_str:str):
    from datetime import datetime
    
    dt = datetime.strptime(datetime_str, '%Y-%m-%d %H:%M:%S')
    
    fn = dt.strftime("%Y%m%d%H%M%S") + ".png"
    return fn

In [4]:
def build_filenames_from_datetime(cat_data:pd.DataFrame)->list:
    names = []
    for idx in cat_data.index:
        names.append(datetime_to_filename(cat_data['datetime'][idx]))
    return names

In [5]:
def compare_times_to_actual(catalog_data:pd.DataFrame, actual_name:str):
    
    catalog_names = build_filenames_from_datetime(catalog_data)
    
    #load file which has the actual filenames produced
    with open (actual_name, 'r') as f:
        actual_names = f.readlines()
        
    # compare possible list with actual. Everything in Actual should match

    check_set = set(catalog_names)
    for fn in actual_names:
        chk = fn.strip()
        if fn not in check_set:
            print (f"{fn} not found in list of possible")
            break

In [6]:
pos_catalog = pd.read_csv (pos_dataset_name)
compare_times_to_actual (pos_catalog, 'cme_max_600_list.txt')

20000315195100.png
 not found in list of possible

In [7]:
filt1 = pos_catalog[pos_catalog['datetime'] > '2000-03-14']
filt2 = filt1[filt1['datetime'] < '2000-03-18']
filt2

       CDAW_Id telescope    date-obs             datetime      filename
14760     2645        C2  2000/03/16  2000-03-16 08:05:58  25063988.fts
14761     2645        C2  2000/03/16  2000-03-16 08:26:00  25063989.fts
14762     2645        C2  2000/03/16  2000-03-16 08:50:52  25063990.fts
14763     2645        C2  2000/03/16  2000-03-16 09:05:54  25063991.fts
14764     2645        C2  2000/03/16  2000-03-16 09:25:54  25063992.fts
14765     2645        C2  2000/03/16  2000-03-16 09:50:51  25063993.fts
14766     2645        C2  2000/03/16  2000-03-16 10:05:54  25063994.fts
14767     2645        C2  2000/03/16  2000-03-16 10:25:55  25063995.fts
14768     2645        C2  2000/03/16  2000-03-16 10:50:53  25063996.fts
14769     2645        C2  2000/03/16  2000-03-16 11:05:54  25063997.fts

In [8]:
neg_catalog = pd.read_csv (neg_dataset_name)
compare_times_to_actual (neg_catalog, 'noncme_max_600_list.txt')

20000703002500.png
 not found in list of possible

In [9]:
filt1 = neg_catalog[neg_catalog['datetime'] > '2000-07-02']
filt2 = filt1[filt1['datetime'] < '2000-07-04']
filt2[:10]

                 datetime    date-obs telescope      filename
8170  2000-07-03 00:05:54  2000/07/03        C2  25071723.fts
8171  2000-07-03 00:25:46  2000/07/03        C2  25071724.fts
8172  2000-07-03 00:49:55  2000/07/03        C2  25071725.fts
8173  2000-07-03 01:27:11  2000/07/03        C2  25071726.fts
8174  2000-07-03 01:49:48  2000/07/03        C2  25071727.fts
8175  2000-07-03 02:05:52  2000/07/03        C2  25071728.fts
8176  2000-07-03 02:25:45  2000/07/03        C2  25071729.fts
8177  2000-07-03 02:49:57  2000/07/03        C2  25071730.fts
8178  2000-07-03 03:05:49  2000/07/03        C2  25071731.fts
8179  2000-07-03 03:25:53  2000/07/03        C2  25071732.fts

# retrieve actual fits files from : https://lasco-www.nrl.navy.mil/lz/level_1/000703/c2/

In [10]:
# from the file 2571723.fts:
# DATE-OBS : '2000-07-03T00:05:54.320'

# from the file 2571724.fts:
# DATE_OBS= '2000-07-03T00:25:46.928'